/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Calibri&display=swap');
:root {
    --bgColor: #000;
    --accentColor: #000;
    --fontColor: #fff;
    --font: 'Calibri', sans-serif;
}

body {
    background-color: #000;
    /*
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
}

#footerAvi {
    width: 110px;
    height: 110px;
    display: block;
    margin: 35px auto 20px;
    /*
    border-radius: 50%;
    border: solid var(--fontColor) 4px;
    box-shadow: 0 0 3px var(--accentColor), 2px 2px 5px var(--bgColor);
    */
}

#headerText {
    color: #fff;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    background-color: var(--accentColor);
    color: var(--fontColor);
    font-family: var(--font);
    text-align: left;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
}

i{
    font-size: 1.5rem;
    margin-right: 15px;
}

.fa-play{
    float: right;
    margin-left: 10px;
}

.link:hover {
    background-color: var(--bgColor);
    color: var(--fontColor);
    text-shadow: var(--fontColor) 2px 2px 8px;
}